.card__like-button {
  margin-right: 20px;
  padding: 0;
  border: 0;
  background: transparent;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width:1279px) {
  .card__like-button {
    margin-right: 20px;
  }
}